@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<form asp-action="Register" asp-controller="Account" method="post">

    <table class="table table-bordered">

        <tr>
            <td> <label asp-for="Name"></label> </td>
            <td>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td> <label asp-for="Email"></label> </td>
            <td>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td> <label asp-for="ConfirmEmail"></label> </td>
            <td>
                <input asp-for="ConfirmEmail" class="form-control" />
                <span asp-validation-for="ConfirmEmail" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td> <label asp-for="Password"></label> </td>
            <td>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td> <label asp-for="ConfirmPassword"></label> </td>
            <td>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td> <label asp-for="Role!.RoleName"></label> </td>
            <td>
                <select asp-for="RoleId" asp-items="ViewBag.AllRoles" class="form-control" >
                    <option value="-1">--- Select Role ---</option>
                </select>
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Register" class="btn btn-success" />
                <a asp-action="Login">I Have Account</a>
            </td>
           
        </tr>


    </table>


</form>
